.mainDiv-addSubject{
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 14;
    justify-content: center;
    position: fixed;
}

.container-add{
    min-height: 50%;
    height: auto;
    width: 43%;
    background-color: white;
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    border-radius: 10px;
    padding-bottom: 20px;
}

.header-AddDescriptionSection{
    width: 100%;
    /*background-color: #979797;*/
    height: 5%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.header-AddDescriptionSection img{
    width: 33px;
    height: 33px;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.header-AddDescriptionSection p{
    font-weight: bold;
    margin-left: 25px;
    margin-top: 25px;
}

.header-AddDescriptionSection #close-addPhysics{
    margin-left: 26vw;
}
.second-addDescription{
    min-height: 350px;
    height: auto;
    width: 92%;
    /*background-color: #979797;*/
    margin-left: auto;
    margin-right: auto;
}

.add-subjectDescription-form p{
    font-weight: bold;
    margin-bottom: 10px;
}

.add-subjectDescription-form .description-details{
    width: 100%;
    min-height: 130px;
    height: auto;
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;

}

.add-subjectDescription-form .price-details{
    width: 200px;
    height: 40px;
    background-color:#D9D9D9 ;
    border: none;
    border-radius: 10px;
}

.show-error .error-message-validate{
    width: 300px;
}

.error-message-validate{
    color: red;
    width: 200px;
    margin-left: 150px;
    margin-bottom: -50px;
}

.submit-buttonDescription{
    background-color: rgba(33, 158, 188);
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-left: 31vw;
    margin-top: 50px;
}
#close-addChemistry{
    margin-left: 24.5vw;
    margin-top: -5px;
}
