.addTopicPopup-title {
    margin-left: 5%;
    margin-top: -2.5%;
    margin-bottom: 0%;
    font-size: 18px;
}


.close-btn {
    text-decoration: none;
    float: right;
    margin-top: -4%;
}

#addTopicPopup {
    top: 49%;
    left: 51.44%;
    width: 35%;
    height: 44%;
    border-radius: 10px;
}

.selectSub {
    width: 100%;
    padding-left: 4.5%;
    padding-top: 3%;
}

.selectlesson,
.topic-title {
    width: 100%;
    padding: 4.5%;

}


#selectlesson,
#topicTitle {
    width: 67%;
    margin-right: 9%;
    margin-top: -2%;
    padding: 2.4%;
    float: right;
    opacity: 0.8;
    text-align: justify;
    border: 3px solid #D9D9D9;
    border-radius: 7px;
    background-color: #D9D9D9;
}

#topicTitle {
    width: 61.5%;
    margin-right: 9%;
    margin-top: -2.1%;
    padding: 2.4%;
    float: right;
    opacity: 0.8;
    text-align: justify;
    border: 3px solid #D9D9D9;
    border-radius: 7px;
    background-color: #D9D9D9;
}

#add-NewTopic-btn {
    background: rgba(33, 158, 188);
    padding: 1.7%;
    width: 307px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 9%;
    margin-left: 130px;

}