.container {
    width: 85%;
    height: 100%;
    float: right;
    z-index: 14;

}

.contentecreator-container {
    margin: 120px 40px 100px 30px;
}

.title {

    margin-top: 0;
    font-size: 18px;
    color: #0b2e5e;
}

.sub-title {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 20%;

}

.sub-elements {
    flex-direction: row;
}

.hr-line {
    float: right;
    width: 86.5%;
    border-bottom: 2px solid #D9D9D9;
    margin-top: -25px;
    margin-left: 82px;
    margin-right: 10px;
}

.select {

    /* width: 60%; */
    width: 100%;
    height: 20vh;


}

.selectSubject {
    text-align: left;

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0%;
    padding-top: 0.8%;
    width: 57%;


}




#selecttopic {
    margin-left: 20px;
    margin-top: -15px;
    background-color: #D9D9D9;
    border: none;
    width: 268px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    border-radius: 10px;
}

.selecttopic {
    /* background-color: bisque; */
    flex-direction: row;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -20px;
    justify-content: center;
}

#view-btn {
    background: rgba(33, 158, 188);
    padding: 0.63%;
    width: 180px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: -113px;

}


.add-btn-topic,
.add-btn-content {
    background: rgb(244 159 10);
    padding: 3.2%;
    width: 180px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}

#no-contents-text {
    font-size: 16px;
    margin-left: 12%;
    margin-top: 0%;
    font-weight: bold;
    color: rgb(244 159 10);

}


.btn-list {
    float: right;
    /* background-color: blanchedalmond; */
    margin-top: -95px;
    margin-right: 10px;
}

.content-table {
    width: 103%;
    padding: 2%;
    margin-top: -33px;
    margin-left: -20px;
    border-collapse: separate;
    border-spacing: 0 20px;
}

.sectionRow {
    padding: 2%;
    justify-content: center;
    text-align: justify;
    border: 3px solid #edecec;
    opacity: 0.9;
    border-radius: 10px;
    background-color: #edecec;
    width: 95%;
    margin-left: 55px;
}

.row-icon {
    vertical-align: top;
    width: 3%;
    margin-left: 25px;
}


#deleteImg:hover,
#editImg:hover {
    opacity: 1;
}

#deleteImg,
#editImg {
    border-radius: 4px;
    margin-left: 11px;
    opacity: 0.658;
}


#fixed-image1 {
    position: fixed;
    bottom: 60px;
    right: 258px;
    z-index: -1;
    width: 30%;
    height: auto;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
}