.popup2-title {
    margin-left: 9%;
    margin-top: -2.5%;
    margin-bottom: 6%;
    font-size: 18px;
}

/* #setDeleteTheoryPopup {
    z-index: 102;
    position: fixed;
    top: 49%;
    left: 51.44%;
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: #fff;
    visibility: hidden;
    opacity: 0;

} */



#setDeleteTheoryPopup {
    top: 50%;
    left: 51.44%;
    width: 35%;
    height: 15%;
    visibility: visible;
    opacity: 1;
    border-radius: 8px;

}

.close-icon {
    height: 25px;
    right: 0;
    position: absolute;
    margin: 25px;

}

.delete-alert {
    float: left;
    margin-top: -3.5%;
    margin-right: 1%;
}

.delete-confirmation-btns {
    float: right;
}

#deleteTheory-Yes-btn {
    background: rgba(33, 158, 188);
    padding: 1.7%;
    width: 180px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    text-decoration: none;
}



#deleteTheory-No-btn {
    background: rgb(244 159 10);
    padding: 1.7%;
    width: 180px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    text-decoration: none;
}