body{
    background-color: #EDECEC;
    font-family: 'Open Sans', sans-serif;
}

#home-sec{
    text-align: center;
}

#home-sec a{
    height: 100%;
    width: 100%;
    display: block;
}

#home-text{
    display: inline-block;
    color: #219ebc;
    text-decoration: none;
    margin: 0 60px 0 0;
}

#home-text:hover{
    color: black;
}

#main-card{
    height: 60%;
    width: 60%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    border-radius:20px;
    display:flex;
    flex-direction: row;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Login Section */

ul{
    list-style-type: none;
    padding:0;
}

ul li{
    padding-left: 30px;
}

#login-list-item{
    border-left: 6px solid #f49f0a;
}

#signup-list-item{
    border-left: 6px solid #ffffff;
}

.main-card-icons{
    width:30px;
    height:30px;
    left: 0;

    right: 0;
    margin: auto;
}

#login h2, #signup h2{
    margin:10px 0 0 0;
    color: black;
}

#login-nav{
    flex: 3;
    margin-right: 60px;
}


#login a, #signup a{
    width:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 0px 80px 0px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

#login-form-container{
    flex:2;   
}

#login-form-container h3{
    margin:0 0 30px 0;
}

input[type=text] , input[type=password], input[type=email],input[type=number],input[type=date]{
    border:none;
    border-radius: 4px;
    color : #808080;
    background-color: #EDECEC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
    width:80%;
}

#togglePassword{margin-left: -30px; 
cursor: pointer;}
/* #login-password{
    margin-bottom:5px;
} */

#remember-me-section{
    float: left;
    margin:0;

}

#remember-me{
    margin-left: 0;
    border: 2px solid #219ebc;
    border-radius: 2px;
}

#remember-me-text{
    font-size: 13px;
    margin:0;
    position: absolute;
    color:#219ebc;
}

#forgot-password{
    float: right;
    padding-right: 57px;
    font-size: 13px;
    margin:0;
}

#forgot-password a{
    color:#219ebc;
}

#login-error {
    font-size: 13px;
    color: red;
    height:25px;
    margin-top: 10px
}

#login-error h4{
    margin: 0;
}

#login-button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
    width:83.5%;
    border:none;
    border-radius: 4px;
    background-color: #219ebc;
    color:white;
    cursor: pointer;
}

#no-account{
    font-size: 14px;
    color:#808080;
    float: right;
    padding-right: 100px;
}

#no-account a{
    color:#f49f0a;
}

#master-card{
    visibility:visible;
    background-color:white;
    height: 75%;
    width: 25%;
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 30%;
    border-radius:20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#master-title{
    background-color:white;
    width : 60%;
    height :13%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

#master-title img{
    height :90%;
}

#master-image{
    height: 60%;
    width:100%;
    z-index: 5;
}

#master-image img{
    height: 100%;
    width:100%;
}

#about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

/* Signup Section */

#signup-card{
    visibility:hidden;
    height: 60%;
    width: 60%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    border-radius:20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 2px solid #219ebc;
    margin-left: 469px;
    width:759px;
}

#signup-content{
    padding-top: 25px;
    padding-left: 65px;
    padding-right: 20px;
}

#signup-first{
    float:left;
    width:50%;
}

#signup-second{
    float:right;
    width:50%;
}

#signup-button{
    border:none;
    border-radius: 4px;
    color : #ffffff;
    background-color: #219ebc;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    width:83.5%;
    cursor: pointer;
}

#signup-error {
    font-size: 13px;
    color: red;
    height:20px;
    margin-bottom: 12px;
    visibility: visible;
}

#signup-error h4{
    margin:0;
}

/* Forgot Password Section */

#forgot-pw-card, #forgot-pw-card-reset{
    visibility:hidden;
    height: 60%;
    width: 60%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    border-radius:20px;
    display:flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#forgot-pw-form-container, #forgot-pw-form-reset-container{
    width:33%;
    float:right;
    margin-left: auto;
    margin-right: 0;
    padding-right: 40px;
    margin-top: 40px;
}

#show-email{
    border:none;
    border-radius: 4px;
    color : #808080;
    background-color: #EDECEC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
    width:94%;
}

#verifying-email{
    margin:0;
}

#verify-email-button{
    border:none;
    border-radius: 4px;
    color : #ffffff;
    background-color: #219ebc;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    width:97.5%;
    cursor: pointer;
}

#forgot-pw-form-container p{
    font-size: 15px;
}

#forgot-pw-form-container a, #forgot-pw-form-reset-container a{
    text-align: center;
    color: #f49f0a;
}

#signup-success{
    position: fixed;
    bottom: 30px;
    right: 0;
    width: 100%;
}

#user-email {
    width:97.5%;
}

#verify-email-error, #password-reset-error {
    height: 25px;
}

#verify-email-error p, #password-reset-error p{
    font-size: 14px;
    color: red;
    margin: 0 auto;
}

.page-mask{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 14;
    display: none;
}

#verify-success-popup, #reset-success-popup {
    z-index: 15;
    position: absolute;
    height: 205px;
    width: 520px;
    background-color: white;
    border-radius: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
}

#success-icon{
    display: inline-block;
    margin-left: 25px;
    margin-top: 25px;
    height: 35px;
}

#verify-title{
    display: inline-block;
    margin-left: 15px;
    margin-top: 30px;
    position: absolute;
}

.close-button{
    display: inline-block;
    right: 0;
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 0;
    cursor: pointer;
}

.close-icon{
    height:25px;
    right: 0;
    position: absolute;
    margin: 25px;

}

#verify-success-text{
    margin-left: 25px;
    margin-right: 25px;
}

#ok-btn{
    width: 160px;
    height: 40px;
    left: 20px;
    top: 20px;
    background-color:#219ebc;
    border-radius: 5px;
    color:#fff;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    float: right;
    margin-right: 15px;
}





