#popup-container{
  width: 25%;
  background-color: white;
  height: 10vh;
  border-radius: 10px;
  float: right;
  margin: 20px 20px 0 0;
}

#img-div{
  background-color:#8CEF48;
  display: inline-block;
  height: 100%;
  width: 20%;
  border-radius: 10px 0 0 10px;
}

#popup-container img{
  width: 40px;
  margin: 24%;
}

#popup-container p{
  display: inline-block;
  margin-top: 26px;
  position: absolute;
  margin-left: 15px;

}

/* Session expire error */

#error-popup-container{
  width: 32%;
  background-color: white;
  height: 10vh;
  border-radius: 10px;
  float: right;
  margin: 20px 20px 0 0;
}

#img-div-error{
  background-color: #e74006;
  display: inline-block;
  height: 100%;
  width: 20%;
  border-radius: 10px 0 0 10px;
}

#error-popup-container img{
  width: 40px;
  margin: 17% 30%;
}

#error-popup-container p{
  display: inline-block;
  margin-top: 26px;
  position: absolute;
  margin-left: 15px;

}