.main {
    width:85%;
    font-size: 28px;
    float: right;
    z-index: 1;
    height: 100vh; 
    overflow-y: scroll;
}

#dashboard-container {
    margin: 120px 40px 0 30px;
}

.subheading {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: bold;
}

#title {
    margin-top: 0;
    font-size: 18px;
    color:#0b2e5e;
}

.subheading:after {
    content:"";
    flex:1 1;
    border-bottom: 2px solid #D9D9D9 ;
}

.user-image img {
    width: 50px;
    height: 50px;
}

.question-details, .answer-details {
    display: flex;
    align-items: center;
}

.user-image {
    margin: 10px;
}

.question-text, .answer-text {
    margin: 10px;
}

.question-answers {
    font-size: 16px;
    margin: 20px 40px 0 30px;
}

.question {
    /* border: 1px solid black; */
    padding: 10px;
    background: #edecec;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    height: auto;
}

.reply-icon {
    width: 14px;
    margin: 10px;
}

.reply-div {
    display: inline-block;
}

.reply-button {
    font-weight: bold;
    float: right;
    border: solid #219ebc 2px;
    border-radius: 10px;
    padding: 8px 25px;
    margin: 10px;
}

.reply-button:hover{
    background-color:#219ebc ;
    color: #fff;
}

.answer {
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 1px solid black; */
    padding: 10px;
    background: #D7F6FD;
    border-radius: 10px;
    position: relative;
}

.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -40px;
	right: auto;
    top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}

.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -20px;
	right: auto;
    top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: #D7F6FD transparent transparent transparent;
}

.answers {
    margin-left: 100px;
}

.details p span{
    font-size:14px;
}

.form-container {
    position: fixed;
    bottom: 0;
    width: 90%;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    margin-left: 20px;
    height: 100px;
}

#new-question-form{
    margin-top: 10px;
}

.container {
    margin-bottom: 20vh;
    margin-top: 5vh;
}

#dropdown {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    width: 15vw;
    border-radius: 4px;
    background-color: #fff;
    color: #555;
    border: solid #f49f0a 2px;
}

#new-question {
    font-size: 16px;
    padding: 8px;
    border: solid #f49f0a 2px;
    width: 55vw;
    border-radius: 4px;
    background-color: #fff;
    color: #555;
}

#answer_text {
    padding: 10px;
    width: 87%;
    border-radius: 5px;
    background-color: #fff;
    color: #555;
    border: none;
    margin-top: 12px;
    
}

#answer_text:focus{
    outline: none;
}

#send-btn{
    font-weight: bold;
    float: right;
    border: solid #f49f0a 2px;
    border-radius: 10px;
    padding: 8px 25px;
    margin: 10px 10px 20px 10px;
    /* margin-left: 10px; */
}

#send-btn:hover{
    background-color: #f49f0a;
    color: #fff;
}

.submit-btn {
    background-color: #f49f0a;
    color: #fff;
    width: 7vw;
    font-size: 16px;
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.submit-btn:hover{
    color: black;
}

.reply-form {
    margin-left: 10px;
}

