.main-container{
    width: 85%;
    height: 100%;
    float: right;
    z-index: 1;
}

.header-container{
    width: 98%;
    height: 3vh;
    margin-top: 5vh;
    margin-left: 1vw;
}

.back-to-payments{
    margin-left: 40px;
    cursor: pointer;
}
hr{
    border: 2px solid black;
}

.body-container{
    display: flex;
    flex-direction: row;
}

.slipImage-container{
    width: 45vw;
    height: 70vh;
    text-align: center;
}

.slipImage-container h2{
    margin-top: 8vh;
    font-weight: bold;
    margin-bottom: 5vh;
}

.viewSlip-image{
    width: 20vw;
    height: 40vh;
}

#slip-pic{
    width: 30vw;
    height: 40vh;
    align-items: center;
    justify-content: center;
    margin-left: 3vw;
    border-radius: 10px;
    border-color: black;
    position: relative;
}

#accept-button{
    background-color: orange;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    height: 45px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 16vw;
}

#accept-button:hover{
    background-color: #0b2e5e;
    color: white;
}

#reject-button{
    background-color: orange;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    height: 45px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 3vw;
}

#reject-button:hover{
    background-color: #0b2e5e;
    color: white;
}


.details-student p{
    font-weight: bold;
    font-size: 20px;
}

.details-student{
    background-color: #f8f8f8;
    width: 23vw;
    height: 35vh;
    position: absolute;
    margin-left: 50vw;
    margin-top: -53vh;
    text-align: center;
    font-weight: bold;
    box-shadow: 10px 10px #f0eded;
    border-radius: 10px;
}
