#student-dashboard-container{
    width:85%;
    height: 100%;
    float: right;
    z-index: 1;

}

#student-dashboard{
    margin: 120px 40px 100px 30px;
}

#title{
    margin-top:0;
    font-size:18px;
    color:#0b2e5e;
}

.sub-title{
    margin-top:30px;
    display: flex;
    flex-direction: row;
}

.sub-title:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #D9D9D9;
    margin: auto;
}

/* My Subjects Container */

#my-subjects-container{
    margin-top:35px;
    height:auto;
    display: flex;
    align-items: flex-start;
}

.subject-card{
    display: inline-block;
    width: 20%;
    height: auto;
    margin-right: 30px;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#chemistry{
    background-color:#219ebc;
}

#physics{
    background-color:#f49f0a;
}

.card-title{
    color: #fff;
    font-size:17px;
    margin-left: 15px;
    height: 30px;
}

/* Subject Completion Status Bars */

progress[value] {
    
    -webkit-appearance: none;
     appearance: none;
  
     width: 100%;
     height: 6px;
     
  }

  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    margin-left: 10px;
  }

  progress::-webkit-progress-value {
    background: black;
    opacity: .70;
    border-radius: 5px;
  }

  #progress-value-text{
    float: right;
    margin-right:10px;
    font-weight: bold;
  }

  .progress-container{
    top: 135px;
    position: absolute;
    width: 92%;
  }

.lesson-container{
    width:100%;
    margin-top: 150px;
    height: auto;
}

.lesson-container a{
    text-decoration: none;
    color: black;
}

.lesson{
    background-color:#EDECEC;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.lesson:hover{
    background-color:black;
    color: white;
}

.lesson-title{
    margin-top:0;
    margin-bottom: 0;
    padding:8px 0;
}

.goToLesson-button{
    width:100%;
}

/* Progress Section */

#progress-container{
    margin-top:35px;
    height:auto;
    
}

.subject-progress-card{
    width: 97%;
    height: auto;
    background-color: white;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.progress-card-title{
    margin-left:15px;
    margin-bottom: 0;
    color:#0b2e5e;
    font-weight: bold;
}

#inner-container{
    height: auto;
    display: flex;
    align-items: flex-start;
}

#lesson-names{
    display: inline-block;
    width: 30%;
}

.lesson-name-item{
    margin-left: 100px;
    margin-bottom: 50px;
    font-weight: bold;
    
}

#progress-values{
    display: inline-block;
    width: 60%;

}

.progress-value{
    width: 50px;
    margin: 0 0 5px 10px;
}

.lesson-progress-bars,.lesson-progress-bars-phy {
    width: 100% !important;
    height: 15px !important;
  }
  
  .lesson-progress-bars::-webkit-progress-bar {
    background-color: #d9d9d9 !important;
  }
  
  .lesson-progress-bars::-webkit-progress-value {
    background-color: #219ebc !important;
  }
  
  .lesson-progress-bars::-moz-progress-bar {
    background-color: #219ebc !important;
  }

  .lesson-progress-bars-phy::-webkit-progress-bar {
    background-color: #d9d9d9 !important;
  }

  .lesson-progress-bars-phy::-webkit-progress-value {
    background-color: #f49f0a !important;
  }
  
  .lesson-progress-bars-phy::-moz-progress-bar {
    background-color: #f49f0a !important;
  }

/* Badges Section */

#badge-container{
    margin-top:35px;
    height:350px;
    background-color:#EDECEC;
    border-radius: 10px;
    width:97%;
}

#rec-container{
    margin-top:35px;
    height:350px;
    background-color:#219ebc;
    border-radius: 10px;
    width:97%;
}






 