#student-dashboard-container{
    width:85%;
    height: 100%;
    float: right;
    z-index: 1;

}

#student-dashboard, #no-subjects-bought{
    margin: 120px 40px 100px 30px;
}

#title{
    margin-top:0;
    font-size:18px;
    color:#0b2e5e;
}

#dashboard-section{
    height:auto;
}

.sub-title{
    margin-top:30px;
    display: flex;
    flex-direction: row;
}

.sub-title:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #D9D9D9;
    margin: auto;
}


/* My Subjects Container */

#my-subjects-container{
    margin-top:35px;
    height:auto;
    display: flex;
    align-items: flex-start;
    padding: 20px 0 20px 0;
    position: relative;
}

#my-subjects-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/science-bg1.jpg");
    background-repeat: repeat;
    background-position: center center;
    background-size: 100% auto;
    opacity: 0.05;
    z-index: -1;
}

.subject-card{
    display: inline-block;
    width: 20%;
    height: auto;
    margin-right: 30px;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#chemistry{
    background-color:#219ebc;
}

#physics{
    background-color:#f49f0a;
}

.card-title{
    color: #fff;
    font-size:17px;
    margin-left: 15px;
    height: 30px;
}

.lesson-container{
    width:100%;
    margin-top: 150px;
    height: auto;
}

.lesson-container a{
    text-decoration: none;
    color: black;
}

.lesson{
    background-color:#EDECEC;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.lesson:hover{
    background-color:black;
    color: white;
}

.lesson-title{
    margin-top:0;
    margin-bottom: 0;
    padding:8px 0;
}

.goToLesson-button{
    width:100%;
}

#progress-container{
    margin-top:35px;
    height:350px;
    
}

.progress-card{
    display:inline-block;
    width: 47%;
    height: 100%;
    border-radius: 10px;
    position: relative;
}

#completion-card{
    /* background-color:#0b2e5e; */
    margin-right: 30px;
}

#scores-card{
    background-color:black;
}

.progress-title{
    color: #fff;
    font-size:17px;
    margin-left: 15px;
}


#rec-container{
    margin-top:35px;
    height:350px;
    border-radius: 10px;
    width:97%;
}


/* Subject Completion Status Bars */

progress[value] {
    
    -webkit-appearance: none;
     appearance: none;
  
     width: 100%;
     height: 6px;
     
  }

  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    margin-left: 10px;
  }

  progress::-webkit-progress-value {
    background: black;
    opacity: .70;
    border-radius: 5px;
  }

  #progress-value-text{
    float: right;
    margin-right:10px;
    font-weight: bold;
  }

  .progress-container{
    top: 135px;
    position: absolute;
    width: 92%;
  }

.lesson-container{
    width:100%;
    margin-top: 150px;
    height: auto;
}

.lesson-container a{
    text-decoration: none;
    color: black;
}

.lesson{
    background-color: #EDECEC;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.lesson:hover{
    background-color:black;
    color: white;
}

.lesson-title{
    margin-top:0;
    margin-bottom: 0;
    padding:8px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.goToLesson-button{
    width:100%;
}

/* Completion Section */

#completion-container{
    margin-top:35px;
    height:auto;
    display: flex;
}

.subject-progress-card{
    width: 97%;
    height: auto;
    background-color: white;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.progress-card-title{
    margin-left:15px;
    margin-bottom: 0;
    color:#0b2e5e;
    font-weight: bold;
}

#chem-sec{
    margin-right: 20px;
}

#inner-container{
    height: auto;
    display: flex;
    align-items: flex-start;
}

#lesson-names{
    display: inline-block;
    width: 30%;
}

.lesson-name-item{
    margin-left: 15px;
    margin-bottom: 50px;
    font-weight: bold;
    word-wrap: break-word;
}

#progress-values{
    display: inline-block;
    width: 60%;

}

.progress-value{
    width: 50px;
    margin: 0 0 5px 10px;
}

.lesson-progress-bars,.lesson-progress-bars-phy {
    width: 100% !important;
    height: 15px !important;
  }
  
  .lesson-progress-bars::-webkit-progress-bar {
    background-color: #d9d9d9 !important;
  }
  
  .lesson-progress-bars::-webkit-progress-value {
    background-color: #219ebc !important;
  }
  
  .lesson-progress-bars::-moz-progress-bar {
    background-color: #219ebc !important;
  }

  .lesson-progress-bars-phy::-webkit-progress-bar {
    background-color: #d9d9d9 !important;
  }

  .lesson-progress-bars-phy::-webkit-progress-value {
    background-color: #f49f0a !important;
  }
  
  .lesson-progress-bars-phy::-moz-progress-bar {
    background-color: #f49f0a !important;
  }

/* Progress Section */

#progress-container{
    margin-top:35px;
    height:340px;
    display: flex;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #edecec;
    background-image: none;
    flex: 1;
    padding: 0 0.5em;
    cursor: pointer;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: inline-flex;
    width: 320px;
    height: 38px;
    line-height: 3;
    background: #edecec;
    overflow: hidden;
    border-radius: 10px;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: -3px;
    right: 12px;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
    color: #808080;
 }
 .select:hover::after {
    color: #0b2e5e;
 }

#select-lesson-btn{
    background-color: #0b2e5e;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    background-color: none;
    border: none;
    font-weight: bold;
}

#select-lesson-btn:hover{
    background-color:black;
    color: white;
    cursor: pointer;
}

#progressChart{
    width: 100%;
    max-width: 700px;
    margin-left: 30px;
    margin-top: 40px;
}

#no-lesson-selected{
    text-align: center;
    margin: auto;
    background-color: #EDECEC;
    width: 700px;
    height:350px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#no-lesson-img{
    width: 100px;
    opacity: .50;
}

#no-lesson-text{
    color: #f49f0a;
}

/* Badges Section */

.subTitle-Badge{
    margin-top:30px;
    display: flex;
    flex-direction: row;
}

.subTitle-Badge:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #D9D9D9;
    margin: auto;
}

.subTitle-Badge{
    color: #219ebc;
}

#badge-container{
    margin-top:35px;
    min-height:350px;
    height: auto;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    width:97%;
}
.show-badges{
    width: 96.5%;
    /*background-color: red;*/
    height: auto;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    /*padding-top: 45px;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*grid-column-gap: 25px;*/
    /*grid-row-gap: 15px;*/
    display: flex;
    flex-direction: column;
}

.show-normalBadges{
    height: auto;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 25px;
    grid-row-gap: 15px;
}

.special-badge .specialBadge-header{
    margin-top: -15px;
    padding-left: 30px;
}

.BadgePicture{
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /*background-color: #F4C430;*/
}

.BadgePicture img{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.main-detailOneDiv{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 14;
    display: none;
    justify-content: center;
}

.first-badgeDetails{
    min-height: 200px;
    width: 450px;
    height: auto;
    background-color: white;
    /*padding: 20px;*/
    border-radius: 10px;
    /*position: fixed;*/
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.main-detailOneDiv .header-firstBadge{
    height: 50px;
    /*background-color: #0b2e5e;*/
    display: flex;
    flex-direction: row;
}

.first-badgeDetails .header-firstBadge p{
    width: 350px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.main-detailOneDiv .header-firstBadge img{
    width: 35px;
    height: 35px;
}

.first-physicsTopic{
    /*background-color: #F4C430;*/
    /*margin-top: 10px;*/
    padding-left: 35px;
    margin-bottom:10px ;
}

.first-chemistryTopic{
    padding-left: 35px;
    margin-bottom:10px ;
}

.topic-nameBadge{
    font-weight: bold;
    font-size: 14px;
    /*margin-top: -15px;*/
}

#detailOneDiv-close{
    margin-left: 30px;
    margin-top: 15px;
}



/* Activity Time Log Section */

#activity-time-log-container{
    margin-top:35px;
    display: flex;
    width: 100%;
    /* max-width: 700px; */
    justify-content: center;
}

#timeUsageChart{
    width: 100%;
    max-width: 700px;

}

/* Recommendations Section */

#rec-container{
    margin-top:35px;
    height:auto;
    border-radius: 10px;
    width:100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#rec-card{
    background-color:#EDECEC;
    width: 80%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}

#rec-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/science-bg1.jpg");
    background-repeat: repeat;
    background-position: center center;
    background-size: 100% auto;
    opacity: 0.1;
    z-index: 1;
}

.flex {
    display: flex;
}
  
.slides-list {
    list-style: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 85%;
    top: 0;
    left: 0;
}
  
.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
  
.rec-msg-slides {
    height: 80%;
    position: relative;
    background-color: #EDECEC;
    border-radius: 0 0 10px 10px;
}

.slide-figure{
    margin-top:0;
}
  
.slide-figure-text {
    font-size: 22px;
    line-height: 1.6;
    top: 20px;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12px;
}
  
.rec-nav-btns {
    border: none;
    top: 35%;
    position: absolute;
    transition: all 0.3s ease;
    margin-left: -23%;
    margin-right: -24%;
}
  
.rec-nav-btns img:hover{
    height: 35px;
}

.rec-nav-btns:hover {
    cursor: pointer;
}
  
.arrow-icon {
    height: 30px;
}
  
.nav-btns-next {
    left: 25%;
    z-index: 1;
}
  
.nav-btns-prev {
    right: 25%;
    z-index: 1;
}
  
.active-slide {
    display: list-item;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
.btn-dots {
    margin-top: 35px;
    justify-content: center;
    gap: 0.8rem;
    padding-bottom: 1rem;
}
  
.active-dot {
    background-color: #219ebc !important;
}
  
.btn-dot {
    border: 1px solid #808080;
    border-radius: 100px;
    height: 15px;
    width: 15px;
    background-color: white;
    transition: all 0.3s ease-out;
}
  
.btn-dot:hover {
    cursor: pointer;
    background-color: #219ebc !important;
    transition: all delay 0.3s ease-in;
}

#no-rec-text{
    font-size: 18px;
    position: relative;
    top: 23%;
    left: 35%;
}

/* No Subjects Bought Section */

#no-subjects-bought{
    display: none;
    margin-top: 0;
    margin-bottom: 0;
}

#no-subjects-img{
    height: 280px;
    position: absolute;
    top: 215px;
    left: 650px;
}

#no-subjects-text{
    position: absolute;
    bottom: 150px;
    left: 600px;
    font-size: 18px;
}

#buy-btn{
    border: 2px solid #f49f0a;
    padding: 10px 30px;
    border-radius: 15px;
    text-decoration: none;
    color: #f49f0a;
    position: absolute;
    bottom: 100px;
    left: 770px;
}

#buy-btn:hover{
    background-color: #f49f0a;
    color: black;
}
