
.main-card{
    background:white;
    border-radius: 15px;
    width: 70vw;
    height: 125px;
    text-align: center;
    box-shadow: 1px 1px 4px 4px #DCDCDC;
}
.card-01{
    background:#0b2e5e;
    border-radius: 15px;
    padding: 20px;
    width: 31vw;
    margin: 20px;
    color: aliceblue;
    height:250px;
    margin-top: 0;
    height: 220px;
}
.card-02{
    background:black;
    border-radius: 15px;
    padding: 20px;
    width: 31vw;
    margin: 20px;
    color: aliceblue;
    height:250px;
    margin-top: 0;
    height: 220px;
}

.card-topic{
    font-size: 20px;
    margin-top: 0;
}

.no-of-questions{
    font-size: 22px ;
    margin-top: 0;
}

.no-of-qs{
    font-size: 30px;
}

.main {
    width:85%;
    font-size: 28px; 
    float: right;
    z-index: 1;
}
#dashboard-container{
    margin: 120px 40px 100px 30px;
}
#title{
    margin-top: 0;
    font-size: 18px;
    color:#0b2e5e;
}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 10vh;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.header{
    height: 10vh;
    width: 100vw;
    top: 0;
    position:fixed ;
    background-color: #008CBA;
}
.container-01,.container-02{
    display: flex;
    justify-content: center;
    height: 150px;
    padding: 0;
}

.container-01 h3{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.card-content{
    display: grid;
    justify-content: center;
}

.subheading{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: bold;
}

.subheading:after{
    content:"";
    flex:1 1;
    border-bottom: 2px solid #D9D9D9 ;
    margin:auto;
}

.main-card:hover, .card-01:hover, .card-02:hover{
    cursor: pointer;
}
#add-question-btn {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 160px;
    height: 40px;
    left: 20px;
    top: 20px;
    background-color:#f49f0a;
    border-radius: 5px;
    color:#fff;
}

.add-question-btn{
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 160px;
    height: 40px;
    left: 20px;
    top: 20px;
    background-color:#219ebc;
    border-radius: 5px;
    color:#fff;
}

input[type=submit]{
    color:black;
}

input[type=submit]:hover{
    background-color: black;
    color: white;
    font-weight: bold;
}

#add-question-btn:hover{
    background-color: black;
    font-weight: bold;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #818181;
    border-radius: 7px;
    background: #EDECEC;
    box-sizing: border-box;
    width: 25vw;
}
select{
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #818181;
    border-radius: 7px;
    background: #EDECEC;
    box-sizing: border-box;
}
input[type=submit] {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #818181;
    border-radius: 7px;
    background: #219ebc;
    box-sizing: border-box;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
}
textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #DCDCDC;
    font-size: 16px;
    resize: none;
}
.form-inline{
    width: 100%;
    display: inline-block;
    justify-content: right;
}
#welcome{
    margin-top: 3vh;
    font-size: 50px;
    font-family: "Comic Sans MS";
}
#login-heading, #register-heading{

    font-size: 30px;
    font-family: "Comic Sans MS";
}
#add_question-heading{
    margin-top: 3vh;
    font-size: 16px;
    font-weight: bold;
}

#add-question-form{
    font-weight: normal;
    font-size: 20px;
}

#title-navigate{
    margin-top:0;
    font-size:18px;
    color:#0b2e5e;
}

#label-topic{
    font-size: 16px;
}

#topic-selection{
    width: 300px;
}
.topic-selection{
    width: 300px;
    font-size: 16px;
}

#no-topics{
    color: #f49f0a;
    margin-left: 5vw
}

#no-topics-text{
    font-size: 16px;
    font-weight: bold;
}

#no-topics-img{
    width: 100px;
    height: 100px;
}

.type-selection{
    width:300px;
}

#subject-shortcut a{
    text-decoration: none;
    color:#0b2e5e
}
