#update-question-form {
    z-index: 15;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 55vw;
    padding: 15px;
    background-color: white;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
}

#update-question, #update-description {
    border: none;
    border-radius: 4px;
    color: #808080;
    background-color: #EDECEC;
    width: 98%;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-left: 3.5%;
}

select {
    color : #808080;
    border-radius: 4px;
    background-color: #EDECEC;
    width: 13vw;
    margin-left: 6%;
}

#update-question-title{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}

#update-question-error{
    height: 40px;
    width: 80%;
    margin: auto;
}

#update-question-error p{
    font-size: 14px;
    color: red;
    margin: 0 auto;
}

.page-mask {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 14;
    display: none;
}

#update-form {
    text-align: center;
}

input[type=text]  {
    border: none;
    border-radius: 4px;
    color: #808080;
    background-color: #EDECEC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 48.5%;
}

#change-pw-error {
    height: 40px;
    width: 80%;
    margin: auto;
}

#change-pw-error p,
#change-photo-error p {
>>>>>>>kaumadi font-size: 14px;
    color: red;
    margin: 0 auto;
}

#update-photo-password-title {
    font-size: 18px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

.close-button {
    display: inline-block;
    right: 0;
    position: absolute;
}

.close-icon {
    height: 25px;
    right: 0;
    position: absolute;
    margin-right: 20px;
    margin-top: 10px;
}

#submit-update-question {
    width: 160px;
    height: 40px;
    left: 20px;
    top: 20px;
    background-color: #219ebc;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-weight: normal;
    margin-right: 8px;
}


